* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background: #007cc0;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header .navbar {
  padding: 0 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .navbar-brand {
  padding: 0;
}

header .navbar .navbar-nav.mainmenu .nav-item {
  position: relative;
}

header .navbar .navbar-nav.mainmenu .nav-item .nav-link {
  padding: 10px 20px;
  color: white;
  font-weight: 700;
}

header .navbar .navbar-nav.mainmenu .nav-item .nav-link:hover {
  background: white;
  color: #007cc0;
  -webkit-animation: expand ease 0.3s;
          animation: expand ease 0.3s;
}

header .navbar .navbar-nav.submenu {
  display: none;
}

#submenu-overlay {
  display: none;
}

@-webkit-keyframes expand {
  0% {
    height: 0px;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

@keyframes expand {
  0% {
    height: 0px;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 100%;
  }
}

#carousel {
  padding-top: 50px;
}

#carousel .slick-dotted.slick-slider {
  margin-bottom: 25px;
}

#carousel .carousel__content .slick-prev {
  z-index: 1;
  left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
  background: white;
  width: 30px;
  height: 70px;
}

#carousel .carousel__content .slick-prev:before {
  color: #00324f;
  content: "<";
  font-size: 22px;
  font-weight: bold;
}

#carousel .carousel__content .slick-next {
  right: 0;
  background: white;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 30px;
  height: 70px;
}

#carousel .carousel__content .slick-next:before {
  content: ">";
  color: #00324f;
  font-size: 22px;
  font-weight: bold;
}

#carousel .carousel__content .slick-disabled {
  display: none;
  background: transparent;
}

#carousel .carousel__content .slick-dots {
  background-color: #00324f;
}

#carousel .carousel__content .slick-dots li button:before {
  width: 10px;
  border-radius: 50%;
  height: 10px;
  content: "";
  background: #007cc0;
}

#carousel .carousel__content .carousel__item {
  position: relative;
}

#carousel .carousel__content .carousel__item img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

#carousel .carousel__content .carousel__item .carousel__text {
  position: absolute;
  width: 100%;
  bottom: 3em;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#carousel .carousel__content .carousel__item .carousel__text h5 {
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 700;
  line-height: 3rem;
}

#carousel .carousel__content .carousel__item .carousel__text button.btn-carousel {
  text-transform: uppercase;
  background-color: red;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  padding: 5px 20px;
  font-weight: 700;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#carousel .carousel__content .carousel__item .carousel__text button.btn-carousel:hover {
  background-color: white;
  color: red;
}

#home-page {
  background-image: url("./../../images/Background.gif");
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
}

#home-page .container {
  max-width: 95%;
}

#home-page .container .row .homepage__item {
  position: relative;
}

#home-page .container .row .homepage__item a:hover .homepage__text .btn__item-1 {
  background-color: transparent;
  color: #007cc0;
  border: 3px solid #007cc0;
}

#home-page .container .row .homepage__item img {
  height: 100%;
}

#home-page .container .row .homepage__item .homepage__text {
  position: absolute;
  color: white;
}

#home-page .container .row .homepage__item .homepage__text h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

#home-page .container .row .homepage__item .homepage__text button {
  padding: 5px 20px;
  border-radius: 20px;
  border: 3px solid transparent;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

#home-page .container .row .homepage__item .item-1 {
  bottom: 20px;
  width: 100%;
  text-align: center;
}

#home-page .container .row .homepage__item .item-1 .btn__item-1 {
  background-color: #007cc0;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#home-page .container .row .homepage__item .item-2 {
  bottom: 30%;
  width: 40%;
  left: 40px;
}

#home-page .container .row .homepage__item .item-2 .btn__item-2 {
  background-color: transparent;
  border: 3px solid white;
  color: white;
}

#home-page .container .row .homepage__item .item-2 .btn__item-2:hover {
  background-color: white;
  color: #007cc0;
  border: 3px solid #007cc0;
}

#vehicle .vehicle__title h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: 300;
  color: #00324f;
}

#vehicle .vehicle__content .nav-tabs {
  padding: 1rem;
}

#vehicle .vehicle__content .nav-tabs .nav-item .nav-link {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}

#vehicle .vehicle__content .nav-tabs .nav-item .nav-link:hover {
  border-color: #fff #fff #fff;
}

#vehicle .vehicle__content .nav-tabs .nav-item .nav-link.active {
  color: #007cc0;
  background-color: #fff;
  border-bottom: 5px solid;
  border-color: #fff #fff #007cc0 #fff;
}

#vehicle .vehicle__content .tab-content .container {
  max-width: 100%;
  padding: 0;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .owl-nav button:hover {
  color: black;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  background: white;
  opacity: 1;
  width: 25px;
  height: 60px;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  left: 0;
  border-radius: 0px 5px 5px 0px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .owl-nav .owl-next {
  position: absolute;
  background: white;
  opacity: 1;
  width: 25px;
  height: 60px;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  -webkit-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .tab-item img {
  width: 100%;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail {
  position: absolute;
  top: 5%;
  left: 5%;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .counter {
  margin-bottom: 3rem;
  color: white;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail img {
  width: 220px;
  margin: 1rem auto;
  height: auto;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail p {
  font-size: 15px;
  line-height: 1.5rem;
  padding: 10px 0;
  margin-bottom: 0;
  color: white;
  width: 22rem;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .stats .number {
  font-size: 35px;
  font-weight: 200;
  color: white;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .stats .label {
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .stats .label span {
  color: #007cc0;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions {
  padding: 1rem;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions .btn {
  width: 120px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions .btn-explore {
  background: red;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 20px;
  text-transform: uppercase;
  margin: 0 10px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions .btn-explore:hover {
  background: white;
  color: red;
  border-color: white;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions .btn-build {
  background: white;
  color: red;
  border: 2px solid red;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 20px;
  text-transform: uppercase;
  margin: 0 10px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions .btn-build:hover {
  background: red;
  color: white;
  border-color: red;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions .btn-blue {
  background: #007cc0;
  color: white;
  border: 2px solid white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
  padding: 5px 20px;
  text-transform: uppercase;
  margin: 0 10px;
  width: 250px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions .btn-blue:hover {
  background: white;
  color: #007cc0;
  border-color: white;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options {
  position: absolute;
  bottom: 0;
  width: 49%;
  padding: 10px 0;
  border-top: 2px solid grey;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options .container {
  max-width: 80%;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options .container .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options .container .row .link-text {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
  text-transform: uppercase;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options .container .row .link-image {
  width: 200px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .cutline {
  position: absolute;
  bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  left: 52%;
  padding: 2px 10px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .cutline .row {
  margin: 0;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .cutline .row .cutline__item {
  margin: auto 5px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .cutline .row .cutline__item span {
  color: white;
  font-size: 10px;
}

#vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .cutline .row .cutline__item span.characters {
  color: #007cc0;
}

@media only screen and (max-width: 1026px) {
  header .navbar .navbar-nav.mainmenu {
    display: none;
  }
  header .navbar .navbar-nav.submenu {
    display: -webkit-inline-box;
  }
  header .navbar .navbar-nav.submenu .nav-item {
    padding: 0 10px;
  }
  #carousel .carousel__content .slick-prev {
    height: 50px;
    width: 20px;
  }
  #carousel .carousel__content .slick-prev:before {
    font-size: 16px;
  }
  #carousel .carousel__content .slick-next {
    height: 50px;
    width: 20px;
  }
  #carousel .carousel__content .slick-next:before {
    font-size: 16px;
  }
  #carousel .carousel__content .carousel__item .carousel__text {
    bottom: 1rem;
  }
  #carousel .carousel__content .carousel__item .carousel__text h5 {
    font-size: 25px;
    line-height: 30px;
  }
  #carousel .carousel__content .carousel__item .carousel__text button.btn-carousel {
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 700;
  }
  #submenu-overlay {
    display: none;
    background-color: #eee;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 50px;
    z-index: 999;
  }
  #submenu-overlay a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    border-top: 1px solid grey;
  }
  #carousel .carousel__content .carousel__item .carousel__text {
    bottom: 1rem;
  }
  #carousel .carousel__content .carousel__item .carousel__text h5 {
    font-size: 1rem;
    line-height: 1rem;
  }
  #carousel .carousel__content .carousel__item .carousel__text button.btn-carousel {
    padding: 5px 40px;
  }
  #home-page .container .row .homepage__item {
    padding: 1rem;
  }
  #home-page .container .row .homepage__item .homepage__text h2 {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
  }
  #home-page .container .row .homepage__item .homepage__text button {
    font-size: 10px;
  }
  #vehicle .vehicle__title h2 {
    font-size: 3rem;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail {
    position: relative;
    background-color: #007cc0;
    top: 0%;
    left: 0%;
    padding: 1rem 2rem 5rem 2rem;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .counter {
    text-align: center;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail img {
    margin: 0 auto;
    width: 200px;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail p {
    display: none;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .stats {
    width: 60%;
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .stats .number {
    font-size: 30px;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .stats .label {
    font-size: 12px;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .car-detail .actions .btn {
    width: 120px;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    padding: 5px 0;
    border-top: 2px solid grey;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options .container {
    max-width: 80%;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options .container .row {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options .container .row .link-text {
    font-size: 12px;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .link-options .container .row .link-image {
    display: none;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .cutline {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2px 10px;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .cutline .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .cutline .row .cutline__item {
    margin: auto 3px;
  }
  #vehicle .vehicle__content .tab-content .tab-pane .owl-carousel .car-item .cutline .row .cutline__item span {
    color: white;
    font-size: 9px;
  }
}
/*# sourceMappingURL=style.css.map */