@mixin button-slick {
    .slick-prev {
      z-index: 1;
      left: 0;
      border-radius: 0 0.5rem 0.5rem 0;
      background: white;
      width: 30px;
      height: 70px;
      &:before {
        color: $color-text;
        content: "<";
        font-size: 22px;
        font-weight: bold;
      }
    }
    .slick-next {
      right: 0;
      background: white;
      border-radius: 0.5rem 0 0 0.5rem;
      width: 30px;
      height: 70px;
      &:before {
        content: ">";
        color: $color-text;
        font-size: 22px;
        font-weight: bold;
      }
    }
    .slick-disabled {
      display: none;
      background: transparent;
    }
  }
  
  @mixin owl-button {
    position: absolute;
    background: white;
    opacity: 1;
    width: 25px;
    height: 60px;
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    transform: translate(0px, -50%);
  }
  
  @mixin button-actions($main-color, $sub-color) {
    background: $main-color;
    color: $sub-color;
    border: 2px solid $sub-color;
    font-size: 16px;
    font-weight: 700;
    border-radius: 20px;
    padding: 5px 20px;
    text-transform: uppercase;
    margin: 0 10px;
    &:hover{
      background: $sub-color;
      color: $main-color;
      border-color: $sub-color;
    }
  }